@utility animation-delay-25 {
  animation-delay: 25ms;
}

@utility animation-delay-50 {
  animation-delay: 50ms;
}

@utility animation-delay-75 {
  animation-delay: 75ms;
}

@utility animation-delay-100 {
  animation-delay: 100ms;
}

@utility animation-delay-125 {
  animation-delay: 125ms;
}

@utility animation-delay-150 {
  animation-delay: 150ms;
}

@utility animation-delay-175 {
  animation-delay: 175ms;
}

@utility animation-delay-200 {
  animation-delay: 200ms;
}

@utility animation-delay-225 {
  animation-delay: 225ms;
}

@utility animation-delay-250 {
  animation-delay: 250ms;
}

@utility animation-delay-275 {
  animation-delay: 275ms;
}

@utility animation-delay-300 {
  animation-delay: 300ms;
}
