@keyframes tech {
  to { transform: rotate(-360deg); }
}

@layer components {
  .mugshot {
    @apply relative;
    @apply md:p-24;
    @apply print:p-6;
  }

  .coupon,
  .info {
    @apply transition-opacity duration-150;
  }

  .overview {
    @apply relative w-[calc(100vw-3rem)] h-[calc(100vw-3rem)] max-w-96 max-h-96 aspect-square flex justify-center items-center mx-auto;
    @apply md:z-20;
    @apply print:grid print:grid-cols-2 print:gap-8 print:aspect-auto print:h-auto print:max-h-none print:w-auto print:max-w-none print:mb-8;

    &:hover {
      .coupon {
        @apply opacity-30;
      }
      
      .info {
        @apply opacity-100;
      }
    }
  }

  .coupon {
    @apply absolute top-0 left-0 w-full h-full object-cover;
    @apply print:relative;

    img {
      @apply rounded-full shadow-[0_0_5px_1px] shadow-white;
    }
  }

  .info {
    @apply relative opacity-0 text-center;
    @apply print:opacity-100 print:text-start;
  }

  .links {
    @apply mt-4 text-start;

    li {
      @apply mt-1;
    }
  }

  .technologies {
    @apply pt-4 grid grid-cols-3 gap-4 animate-[spin_240s_linear_infinite]; 
    @apply max-md:animate-none xs:grid-cols-4 sm:grid-cols-6 md:z-10 md:pt-0 md:block md:absolute md:top-0 md:left-0 md:w-full md:h-full;
    @apply print:relative print:grid print:animate-none print:w-auto print:h-auto motion-reduce:animate-none;

    li {
      @apply md:absolute md:top-[42%] md:left-[42%] md:w-24 md:min-h-24;
      @apply print:relative print:top-0 print:left-0;

      &:nth-of-type(1) {
        --n: 12;
      }

      &:nth-of-type(2) {
        --n: 1;
      }

      &:nth-of-type(3) {
        --n: 2;
      }

      &:nth-of-type(4) {
        --n: 3;
      }

      &:nth-of-type(5) {
        --n: 4;
      }

      &:nth-of-type(6) {
        --n: 5;
      }

      &:nth-of-type(7) {
        --n: 6;
      }

      &:nth-of-type(8) {
        --n: 7;
      }

      &:nth-of-type(9) {
        --n: 8;
      }

      &:nth-of-type(10) {
        --n: 9;
      }

      &:nth-of-type(11) {
        --n: 10;
      }

      &:nth-of-type(12) {
        --n: 11;
      }
      
      @media screen and (min-width: 768px) {
        transform: rotateZ(calc((var(--n) + 6) * calc(360 / 12) * 1deg))
          translateY(300%)
          rotateZ(calc((var(--n) + 6) * calc(360 / 12) * -1deg));

        div {
          @apply animate-[tech_240s_linear_infinite];
          @apply max-md:animate-none;
          @apply print:animate-none motion-reduce:animate-none;
        }
      }
    }
  }

  .mugshot-skeleton {
    @apply w-full;

    .overview {
      @apply rounded-full;
    }
  }
}
