@import "layers/base.css";
@import "layers/components.css";
@import "layers/utilities.css";

@import "../components/atoms/Address/Address.css";
@import "../components/atoms/Bullet/Bullet.css";
@import "../components/atoms/Copyright/Copyright.css";
@import "../components/atoms/Divider/Divider.css";
@import "../components/atoms/Link/Link.css";
@import "../components/atoms/Particles/Particles.css";
@import "../components/atoms/Skeleton/Skeleton.css";

@import "../components/molecules/Company/Company.css";
@import "../components/molecules/Cookie/Cookie.css";
@import "../components/molecules/Details/Details.css";
@import "../components/molecules/Header/Header.css";
@import "../components/molecules/Qualification/Qualification.css";
@import "../components/molecules/Reference/Reference.css";
@import "../components/molecules/Role/Role.css";
@import "../components/molecules/Technology/Technology.css";

@import "../components/organisms/Gig/Gig.css";
@import "../components/organisms/Mugshot/Mugshot.css";
@import "../components/organisms/Section/Section.css";

@import "pages/home.css";
@import "pages/cv.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-light: #f9fafb;
  --brand-grey: #e5e7eb;
  --brand-dark: #09090b;
  --brand-yellow: #f9a828;
  --brand-green: #458c25;
  --brand-blue: #245385;
  --brand-red: #740a01;
  --transparent: rgba(0, 0, 0, 0);
  --footer: 2.5rem;
  
  @screen sm {
    --footer: 3.5rem;
  }
}
