@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base text-zinc-950 dark:text-gray-50 bg-gray-50 dark:bg-zinc-950 border-12 border-brand-blue dark:border-brand-yellow selection:bg-brand-blue selection:text-gray-50;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  li {
    @apply m-0;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl font-medium;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-lg;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    + p,
    + address {
      @apply mt-4;
    }
  }
}

@layer components {
  .header {
    @apply grid grid-cols-1 md:grid-cols-[22rem_1fr] lg:grid-cols-[22rem_22rem] gap-6 lg:gap-24;
  }

  .main {
    @apply min-h-screen m-6 p-6 lg:p-16 border-3 border-brand-blue dark:border-brand-yellow overflow-clip;
  }

  .sections {
    @apply grid grid-cols-1 md:grid-cols-[min-content_1fr] gap-x-12 gap-y-8 md:gap-y-16 lg:gap-24 mt-12 lg:mt-24 items-start;
  }

  .divider {
    @apply whitespace-nowrap inline-block relative text-brand-blue dark:text-brand-yellow;

    > span {
      @apply absolute bottom-[-12px] right-0 w-screen h-0 border-b-3 border-brand-blue dark:border-brand-yellow indent-full;
    }
  }

  .content {
    @apply md:mt-1 mb-8 md:mb-0;
  }

  .link {
    text-decoration: underline;
    @apply underline-offset-4 decoration-2 decoration-brand-blue dark:decoration-brand-yellow;

    &:hover,
    &:focus-visible {
      @apply decoration-transparent;
    }

    &:active {
      @apply decoration-brand-blue dark:decoration-brand-yellow;
    }
  }

  .phone,
  .email,
  .website,
  .profile,
  .repo {
    @apply relative pl-6;

    &:before {
      @apply absolute top-1/2 -translate-y-1/2 left-0 mt-px text-sm;
    }
  }

  .phone {
    &:before {
      content: "📱";
    }
  }

  .email {
    &:before {
      content: "✉️";
    }
  }

  .website {
    &:before {
      content: "🌐";
    }
  }

  .profile {
    &:before {
      content: "👤";
    }
  }

  .repo {
    &:before {
      content: "🚀";
    }
  }

  .address {
    @apply not-italic;

    ul {
      @apply flex flex-wrap;

      li:not(:last-of-type):after {
        content: "//";
        @apply mx-2;
      }
    }
  }

  .h-adr > span:not(:last-child):after {
    content: ", ";
  }

  .gig {
    @apply pl-12 md:pl-0;

    &:first-of-type {
      @apply md:-mt-8;
    }

    &:not(:last-of-type) {
      @apply mb-8 lg:mb-12 pb-4;
    }
  }

  .company {
    @apply sticky top-2 -ml-9 md:-ml-12 flex items-center gap-4 lg:gap-6 z-20;

    &:before {
      content: '';
      @apply bg-gray-50 dark:bg-zinc-950 block absolute -top-2 -left-2 w-[calc(100%+1rem)] h-[calc(100%+1rem)] shadow-[0_3px_5px_3px] shadow-gray-50 dark:shadow-zinc-950;
    }

    figure,
    div {
      @apply relative;
    }

    figure {
      @apply shrink-0 bg-white w-[5rem] h-[5rem] md:w-[6.25rem] md:h-[6.25rem] rounded-full flex items-center justify-center shadow-lg dark:shadow-zinc-700;
    }

    img {
      @apply w-[3.75rem] md:w-[5rem] h-[3.75rem] md:h-[5rem] object-contain;
    }
  }

  .capacity {
    @apply mt-0;

    &:before {
      content: '\2022';
      @apply mx-2;
    }
  }

  .role,
  .multiple,
  .linker,
  .linkee {
    @apply relative;

    &:before,
    &:after {
      @apply block absolute bg-zinc-300 dark:bg-zinc-800;
    }
  }

  .role,
  .multiple,
  .linker {
    &:before,
    &:after {
      @apply top-2;
    }
  }

  .role {
    @apply mt-4 lg:mt-8;
  }

  .multiple,
  .linker {
    &:before {
      content: '';
    }
  }

  .multiple {
    &:before {
      @apply w-3 h-3 -left-6 rounded-full;
      left: -3rem;
    }
  }

  .linker,
  .linkee {
    &:before,
    &:after {
      content: '';
      @apply w-0.5 -left-[19px] z-0;
      left: -43px;
    }
  }

  .linker {
    &:before {
      @apply h-full;
    }
  }

  .linkee {
    &:after {
      @apply -top-6 h-8 lg:h-8;
    }
  }

  .bullets {
    @apply z-10;

    li {
      @apply relative;
      /* padding-left: 1.5rem; */
  
      span {
        @apply block w-3 h-3 absolute top-1.5 -left-6 rounded-full indent-full;
        /* left: 0; */
      }

      &:nth-of-type(4n+1) span {
        @apply bg-brand-yellow;
      }

      &:nth-of-type(4n+2) span {
        @apply bg-brand-green;
      }

      &:nth-of-type(4n+3) span {
        @apply bg-brand-blue;
      }

      &:nth-of-type(4n+4) span {
        @apply bg-brand-red;
      }
    }
  }

  .qualification {
    &:not(:last-of-type) {
      @apply mb-6 md:mb-12;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
