@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply text-base;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }

  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  li {
    @apply m-0;
  }
 
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }
}

@layer components {
  .sections {
    @apply grid grid-cols-[min-content_1fr] gap-6 mt-12 items-start;
  }

  .divider {
    @apply whitespace-nowrap inline-block relative text-theme-2-b;
    
    > span {
      @apply absolute bottom-[-12px] right-0 w-screen h-0 border-b-3 border-theme-2-b indent-[-99999rem];
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
