@layer components {
  .footer,
  .cookie {
    @apply flex items-center gap-2 z-20;
  }

  .footer {
    @apply fixed bottom-0 right-0 w-full p-2 min-h-footer justify-between bg-black bg-opacity-80;
    @apply sm:px-6 sm:py-4 sm:text-sm;
    @apply print:hidden;

    & p {
      @apply mx-auto text-xs;
      @apply sm:text-sm;
    }
  }

  .cookie {
    @apply ml-auto;

    & svg {
      @apply w-6 h-6;
    }
  }

  .dismiss {
    @apply block w-6 h-6 relative ml-auto;
    @apply hover:fill-brand-yellow;

    &:before {
      content: '';
      @apply absolute w-[2.75rem] h-[2.75rem] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    &:hover,
    &:focus-visible {
      svg {
        @apply stroke-brand-yellow;
      }
    }

    &:active {
      @apply scale-90;
    }
  }
}
