@layer components {
  .address {
    @apply not-italic;
    @apply print:mb-4;

    /* ul {
      @apply flex flex-wrap;
    }

    li:not(:last-of-type):after {
      content: "//";
      @apply mx-3;
    } */
  }

  .address ul {
    @apply flex flex-wrap;
  } 

  .address li:not(:last-of-type):after {
    content: "//";
    @apply mx-3;
  }
}
